.App {
  background-color: #fbf7f1;
  min-height: 100vh;
}

/* FOR LANDING PAGE */
.landing-buttons {
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

/* FOR LOGIN & SIGNUP */
.header-message {
  font-family: "Inria Serif", "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #8ea4b8;
  text-align: center;
}

.labels {
  font-size: 0.9rem;
  color: #42403f;
}

.login-signup-inputs {
  width: 100%;
  border: inset;
  margin-bottom: 10px;
  background-color: #efe9df;
}

.footermsg {
  text-decoration: none;
  color: #0173dc;
}

.login-signup-buttons {
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 960px) {
  .mobileView {
    flex-direction: column;
    gap: 10px;
  }
  .welcome-image {
    height: 180px;
  }
  .signup-image {
    height: 130px;
  }
  .header-message {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .desktopView {
    gap: 80px;
  }
  .welcome-image {
    height: 220px;
  }
  .signup-image {
    height: 200px;
  }
}

/* FOR DASHBOARD */
.dashboard-outercontainer {
  background-color: #ded6ca;
  border-radius: 25px;
  padding: 0 0.2rem;
  margin: 0 2.5rem 1.5rem 2.5rem;
  color: #42403f;
}

.dashboard-innercontainer {
  background-color: #efe9e0;
  border-radius: 25px;
  padding: 1rem;
  margin: 0 0.6rem;
  color: #42403f;
}

.dashboard-margin {
  margin: 1rem 2.5rem 0 2.5rem;
}

.dashboard-padding {
  padding-left: 3.1rem;
}

/* FOR RENDERING BMI & CALORIE CALCULATOR */
.prefilled-inputs {
  color: #9c9b9b;
  background-color: #f8f8f8;
  border: none;
  padding: 0.4rem;
  width: 100px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.cal-calculatorDisplay {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 5%;
  font-size: 0.8rem;
}

.calculator-button {
  background-color: #d9d9d9;
  color: #42403f;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.generatedResult {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 90px;
  font-weight: 600;
  margin: auto;
}

.result-container {
  display: "flex";
  justify-content: center;
  flex-direction: "column";
  align-items: center;
}

/* DISPLAY BMI INDICATORS */
.bold {
  font-weight: 600;
}

.smallFont {
  font-size: 0.7rem;
}

.yellow {
  color: #caa200;
}

.green {
  color: green;
}

.red {
  color: red;
}

/* FOR CALENDAR */
.fc-event-start {
  overflow: hidden;
}

.fc-event {
  background-color: #58a8f3 !important;
}

.fc-event-main {
  color: black !important;
}

.popup-content {
  border-radius: 1em;
  padding: 10px !important;
  background: #f8f8f8 !important;
}

.text-center {
  text-align: center;
}

.element.style {
  overflow: visible !important;
}

/* padding: 1rem 2rem 0 2rem; */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
